Workflows/KNIDiO-TaskDueDateReminder-7C8D9E0F-1A2B-3C4D-5E6F-7A8B9C0D1E2F.json
{
  "properties": {
    "connectionReferences": {
      "shared_planner": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedplanner_0a21b"
        },
        "api": {
          "name": "shared_planner"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedteams_teams_ref"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "interval": 1,
            "frequency": "Day",
            "timeZone": "Central European Standard Time",
            "schedule": {
              "hours": [
                "9"
              ]
            }
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "List_tasks_in_plan": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c3000000-0003-0001-0001-000000000001"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "groupId": "YOUR_GROUP_OR_TEAM_ID",
              "id": "YOUR_PLAN_ID"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_planner",
              "operationId": "ListTasks_V3",
              "connectionName": "shared_planner"
            }
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 5000
            }
          }
        },
        "Filter_tasks_without_due_date": {
          "runAfter": {
            "List_tasks_in_plan": [
              "Succeeded"
            ]
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('List_tasks_in_plan')?['body/value']",
            "where": "@and(not(equals(item()?['bucketId'], 'YOUR_RESERVE_BUCKET_ID')), equals(coalesce(item()?['dueDateTime'], ''), ''))"
          }
        },
        "Apply_to_each_task_no_due_date": {
          "foreach": "@body('Filter_tasks_without_due_date')",
          "actions": {
            "Get_bucket_details": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "id": "@items('Apply_to_each_task_no_due_date')?['bucketId']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_planner",
                  "operationId": "GetBucket",
                  "connectionName": "shared_planner"
                }
              }
            },
            "Compose_message": {
              "runAfter": {
                "Get_bucket_details": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@concat('🤖 Planner Bot: Zadanie **', items('Apply_to_each_task_no_due_date')?['title'], '** nie ma ustawionego terminu wykonania.\\n\\n**Kolumna:** ', outputs('Get_bucket_details')?['body/name'], '\\n\\n**Link do zadania:**\\nhttps://planner.cloud.microsoft/pg.edu.pl/Home/Task/', items('Apply_to_each_task_no_due_date')?['id'], '\\n\\nProszę dodać termin wykonania do tego zadania lub cofnąć ją do kolumny **💡 Rezerwa/zaległe**.')"
            },
            "Send_Teams_reminder": {
              "runAfter": {
                "Compose_message": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Channel",
                  "body/recipient/groupId": "YOUR_GROUP_OR_TEAM_ID",
                  "body/recipient/channelId": "19:9c71b848b0e9473c867f0e409781f404@thread.tacv2",
                  "body/messageBody": "@outputs('Compose_message')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                  "operationId": "PostMessageToConversation",
                  "connectionName": "shared_teams"
                }
              }
            }
          },
          "runAfter": {
            "Filter_tasks_without_due_date": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Filter_completed_tasks_in_wrong_bucket": {
          "runAfter": {
            "Filter_tasks_without_due_date": [
              "Succeeded"
            ]
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('List_tasks_in_plan')?['body/value']",
            "where": "@and(not(equals(item()?['bucketId'], 'YOUR_DONE_BUCKET_ID')), equals(int(coalesce(item()?['percentComplete'], 0)), 100))"
          }
        },
        "Apply_to_each_completed_task": {
          "foreach": "@body('Filter_completed_tasks_in_wrong_bucket')",
          "actions": {
            "Get_completed_bucket_details": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "id": "@items('Apply_to_each_completed_task')?['bucketId']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_planner",
                  "operationId": "GetBucket",
                  "connectionName": "shared_planner"
                }
              }
            },
            "Compose_completion_message": {
              "runAfter": {
                "Get_completed_bucket_details": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@concat('🤖 Planner Bot: Zadanie **', items('Apply_to_each_completed_task')?['title'], '** zostało oznaczone jako gotowe (100%), ale wciąż znajduje się w niewłaściwej kolumnie.\\n\\n**Aktualna kolumna:** ', outputs('Get_completed_bucket_details')?['body/name'], '\\n\\n**Link do zadania:**\\nhttps://planner.cloud.microsoft/pg.edu.pl/Home/Task/', items('Apply_to_each_completed_task')?['id'], '\\n\\nProszę przenieść je do kolumny **✅ Zrobione**.')"
            },
            "Send_completion_reminder": {
              "runAfter": {
                "Compose_completion_message": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Channel",
                  "body/recipient/groupId": "YOUR_GROUP_OR_TEAM_ID",
                  "body/recipient/channelId": "19:9c71b848b0e9473c867f0e409781f404@thread.tacv2",
                  "body/messageBody": "@outputs('Compose_completion_message')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                  "operationId": "PostMessageToConversation",
                  "connectionName": "shared_teams"
                }
              }
            }
          },
          "runAfter": {
            "Filter_completed_tasks_in_wrong_bucket": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}